<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="container">
			<h2 align="center"><b>PROCESSO Nº <%= @procedure.id %></b></h2><br><br>
			<div class="procedure-menu">
				<span id="personalInformations" class="tabs" onclick="activeTab('personalInformations')" >Dados Pessoais</span>
				<span id="works" class="tabs" onclick="activeTab('works')" >Trabalhos Realizados</span>
				<span id="photos" class="tabs" onclick="activeTab('photos')" >Fotografías</span>
				<span id="rayx" class="tabs" onclick="activeTab('rayx')" >Raio-X Panorâmico</span>
				<span id="telerayx" class="tabs" onclick="activeTab('telerayx')" >Teleradiografía</span>
				<span id="traced" class="tabs" onclick="activeTab('traced')" >Traçado Cefalometrico</span>
				<span id="usp" class="tabs" onclick="activeTab('usp')" >Fator USP</span>
				<span id="report" class="tabs" onclick="activeTab('report')" >Laudo Radiográfico</span>
			</div>
			<div class="procedure-box">
				<div id="personalInformations-box" class="container-procedure no-active">
					<div class="avatar">
						<% if @procedure.avatar.attached? %>
							<%= link_to (image_tag @procedure.avatar), url_for(@procedure.avatar) %>
							<% if signed_in? %>
								<%= form_with model: @procedure, url: procedure_avatar_path(@procedure), method: :post, id: 'procedures', local: true do |f| %>
									<p align="right"><%= f.file_field :avatar %></p>
									<p><%= f.submit :Enviar, class: 'btn btn-success' %></p>
								<% end %>
							<% end %>
						<% else %>
							<h3>Não há imagem</h3>
							<% if signed_in? %>
								<%= form_with model: @procedure, url: procedure_avatar_path(@procedure), method: :post, id: 'procedures', local: true do |f| %>
									<p align="right"><%= f.file_field :avatar %></p>
									<p><%= f.submit :Enviar, class: 'btn btn-success' %></p>
								<% end %>
							<% end %>
						<% end %>
					</div>
					<h4><b>* INFORMAÇOES DO PACIENTE</b>
						<% if signed_in? %>
							<span style="margin-left: 1em;"><%= link_to :Editar, edit_procedure_path(@procedure), class: 'btn btn-warning' %></span>
							<% if @procedure.status == false %>
								<span style="margin-left: 0.5em;"><%= link_to 'Finalizar Processo', finish_procedure_path(@procedure), class: 'btn btn-success', data:{confirm: 'Finalizar este procedimento?'} %></span>
							<% end %>
						<% end %>
					</h4><br>
					<h3><b><%= @procedure.patient %></b></h3>
					<h3><b>DR. <%= @procedure.doctor %></b></h3>
					<h4><b>DATA: </b><%= datebr(@procedure.date_procedure) %>
					<span style="margin-left: 3em;"><b>SEXO: </b><%= @procedure.sex %></span>
					<span style="margin-left: 3em;"><b>CIDADE: </b><%= @procedure.city %></span> 
					</h4>
					<h4><b>OBS: </b><%= @procedure.note %></h4>
					<hr>

					<h4><b>* INFORMAÇOES ORTODONTICAS</b></h4><br>
					<h4><b>TRATAMENTO ORTODONTICO ANTERIOR: </b><%= @procedure.last_procedure %></h4>
					<h4><b>RAZOES PARA O TRATAMENTO ORTODONTICO: </b><%= @procedure.reason %></h4>
					<h4><b>GRAU DE MOTIVAÇAO: </b><%= @procedure.motivation %></h4><br>
					
					<h4 align="center"><b>HISTORICO MEDICO</b></h4><br>
					<h4><b>O PACIENTE JA APRESENTOU</b></h4>
					<hr>
					<div class="form-group col-lg-4 col-md-4">
						<h4><b>Asma: </b><%= @items[0] %></h4>
						<h4><b>Anemia: </b><%= @items[1] %></h4>
						<h4><b>Alergia: </b><%= @items[2] %></h4>
						<h4><b>Doença Sanguinea: </b><%= @items[3] %></h4>
						<h4><b>Doença Óssea: </b><%= @items[4] %></h4>
						<h4><b>Diabetes: </b><%= @items[5] %></h4>
					</div>
					<div class="form-group col-lg-4 col-md-4">
						<h4><b>Eplepsia: </b><%= @items[6] %></h4>
						<h4><b>Problemas Emocionais: </b><%= @items[7] %></h4>
						<h4><b>Problemas Endócrinos: </b><%= @items[8] %></h4>
						<h4><b>Doenças Cardíacas: </b><%= @items[9] %></h4>
						<h4><b>Disturbios Auditivos: </b><%= @items[10] %></h4>
						<h4><b>Disturbios Respiratórios: </b><%= @items[11] %></h4>
					</div>
					<div class="form-group col-lg-4 col-md-4" style="margin-bottom: 3em;">
						<h4><b>Traumatísmo de Face/Cabeça: </b><%= @items[12] %></h4>
						<h4><b>Herpes: </b><%= @items[13] %></h4>
						<h4><b>Hepatite: </b><%= @items[14] %></h4>
						<h4><b>Febre Reumática: </b><%= @items[15] %></h4>
						<h4><b>Fraturas Ósseas: </b><%= @items[16] %></h4>
						<h4><b>Outros: </b><%= @items[16] %></h4>
					</div>
					<h4><b>INGERE DROGAS OU MEDICAMENTOS: </b><%= @procedure.drugs %>
					<span style="margin-left: 6em;"><b>ANTICONCEPCIONAL: </b><%= @procedure.contraceptive %></span></h4>
					<h4><b>ANOMALIASCONGENITAS: </b><%= @procedure.anomaly %></h4>
					<h4><b>ESTAGIO DE DESENVOLVIMENTO OSSEO: </b><%= @procedure.bone_development %>
					<span style="margin-left: 6em"><b>TIPO FISICO: </b><%= @procedure.physical_type %></span>
					<span style="margin-left: 3em;"><b>ALTURA: </b><%= @procedure.height %></span>
					<span style="margin-left: 3em;"><b>PESO: </b><%= @procedure.weight %></span></h4>
					<h4><b>CIRURGIA ANTERIOR: </b><%= @procedure.last_surgery %>
					<span style="margin-left: 6em;"><b>SAUDE ATUAL: </b><%= @cheers %></span>
					</h4>
				</div>
				<div id="works-box" class="container-procedure no-active">
					<h4 align="center"><b>PROCEDIMENTOS REALIZADOS</b></h4><br>
					<p><%= link_to 'Registrar Novo Procedimento', new_procedure_work_path(@procedure), class: 'btn btn-success' %></p>
					<table class="table table-bordered">
						<thead>
							<th>Data</th>
							<th>Procedimento Realizado no Paciente</th>
							<th>Procedimento Futuro</th>
						</thead>
						<tbody>
							<% @procedure.works.each do |work| %>
							<tr>
								<td><%= datebr(work.date_work) %></td>
								<td><%= work.description %></td>
								<td><%= work.next_work %></td>
								<% if signed_in? %>
								<td><%= link_to :Editar, edit_procedure_work_path(@procedure, work), class: 'btn btn-warning' %></td>
								<td><%= link_to :Excluir, procedure_work_path(@procedure, work), method: :delete, class: 'btn btn-danger' %></td>
								<% end %>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div id="photos-box" class="container-procedure no-active">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<% if signed_in? %>
						<%= form_with model: @procedure, url: procedure_photos_path(@procedure), method: :post, id: 'procedures', local: true do |f| %>
							<div class="add-photos">
								<p><b>Adicionar Nova Imagem</b></p>
								<span><%= f.file_field :photos %></span> 
								<span style="margin-left: -3em"><%= f.submit :Enviar,class: 'btn btn-success' %></span>
							</div>
						<% end %>
						<% end %>
					</div>
					<% @procedure.photos.each do |photo| %>
					<div class="col-lg-3 col-md-3 col-sm-12 photo">
						<%= link_to (image_tag photo), url_for(photo) %>
						<% if signed_in? %>
						<%= link_to :Remover, purge_photos_path(@procedure, photo), method: :delete, class: 'btn btn-danger', data:{confirm: 'Remover esta imagem?'} %>
						<% end %>
					</div>
					<% end %>
				</div>
				<div id="rayx-box" class="container-procedure no-active">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<% if signed_in? %>
						<%= form_with model: @procedure, url: procedure_raysx_path(@procedure), method: :post, id: 'procedures', local: true do |f| %>
							<div class="add-photos">
								<p><b>Adicionar Nova Imagem</b></p>
								<span><%= f.file_field :raysx %></span> 
								<span style="margin-left: -3em"><%= f.submit :Enviar, class: 'btn btn-success' %></span>
							</div>
						<% end %>
						<% end %>
					</div>
					<% @procedure.raysx.each do |photo| %>
					<div class="col-lg-3 col-md-3 col-sm-12 photo">
						<%= link_to (image_tag photo), url_for(photo) %>
						<% if signed_in? %>
						<%= link_to :Remover, purge_raysx_path(@procedure, photo), method: :delete, class: 'btn btn-danger', data:{confirm: 'Remover esta imagem?'} %>
						<% end %>
					</div>
					<% end %>
				</div>
				<div id="telerayx-box" class="container-procedure no-active">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<% if signed_in? %>
						<%= form_with model: @procedure, url: procedure_teleraysx_path(@procedure), method: :post, id: 'procedures', local: true do |f| %>
							<div class="add-photos">
								<p><b>Adicionar Nova Imagem</b></p>
								<span><%= f.file_field :teleraysx %></span> 
								<span style="margin-left: -3em"><%= f.submit :Enviar, class: 'btn btn-success' %></span>
							</div>
						<% end %>
						<% end %>
					</div>
					<% @procedure.teleraysx.each do |photo| %>
					<div class="col-lg-3 col-md-3 col-sm-12 photo">
						<%= link_to (image_tag photo), url_for(photo) %>
						<% if signed_in? %>
						<%= link_to :Remover, purge_teleraysx_path(@procedure, photo), method: :delete, class: 'btn btn-danger', data:{confirm: 'Remover esta imagem?'} %>
						<% end %>
					</div>
					<% end %>
				</div>
				<div id="traced-box" class="container-procedure no-active">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<% if signed_in? %>
						<%= form_with model: @procedure, url: procedure_traceds_path(@procedure), method: :post, id: 'procedures', local: true do |f| %>
							<div class="add-photos">
								<p><b>Adicionar Nova Imagem</b></p>
								<span><%= f.file_field :traceds %></span> 
								<span style="margin-left: -3em"><%= f.submit :Enviar ,class: 'btn btn-success' %></span>
							</div>
						<% end %>
						<% end %>
					</div>
					<% @procedure.traceds.each do |photo| %>
					<div class="col-lg-3 col-md-3 col-sm-12 photo">
						<%= link_to (image_tag photo), url_for(photo) %>
						<% if signed_in? %>
						<%= link_to :Remover, purge_traceds_path(@procedure, photo), method: :delete, class: 'btn btn-danger', data:{confirm: 'Remover esta imagem?'} %>
						<% end %>
					</div>
					<% end %>
				</div>
				<div id="usp-box" class="container-procedure no-active">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<% if signed_in? %>
						<%= form_with model: @procedure, url: procedure_usps_path(@procedure), method: :post, id: 'procedures', local: true do |f| %>
							<div class="add-photos">
								<p><b>Adicionar Nova Imagem</b></p>
								<span><%= f.file_field :usps %></span> 
								<span style="margin-left: -3em"><%= f.submit :Enviar ,class: 'btn btn-success' %></span>
							</div>
						<% end %>
						<% end %>
					</div>
					<% @procedure.usps.each do |photo| %>
					<div class="col-lg-3 col-md-3 col-sm-12 photo">
						<%= link_to (image_tag photo), url_for(photo) %>
						<% if signed_in? %>
						<%= link_to :Remover, purge_usps_path(@procedure, photo), method: :delete, class: 'btn btn-danger', data:{confirm: 'Remover esta imagem?'} %>
						<% end %>
					</div>
					<% end %>
				</div>
				<div id="report-box" class="container-procedure no-active">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<%= form_tag procedure_reports_path(@procedure), method: :get do %>
						<h3 align="center"><b>TIPO DE DENTIÇÃO</b></h3>
						<div class="form-group box1" >
							<%= text_area_tag :tooth, @procedure.tooth , class: 'form-control' %>	
						</div><br>
						<h3 align="center"><b>ACHADOS RADIOGRAFICOS</b></h3>
						<div class="form-group box2">
							<%= text_area_tag :report, @procedure.report, class: 'form-control' %>
						</div>
						<% if signed_in? %>
						<div>
							<%= button_to :Salvar, procedure_reports_path(@procedure), class: 'btn btn-success' %>
						</div>
						<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	initial();
</script>