<!DOCTYPE html>
<html>
  <head>
    <title>NewSmile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="top-bar">
        <div class="logo">
          <%= link_to (image_tag 'logo.jpg', :width=>'100px'), root_path %>
        </div>
        <div class="navbar">
          <div class="menu">
            <span><%= link_to 'Procedimentos Abertos', root_path %></span>
            <span><%= link_to 'Procedimentos Concluídos', procedures_finished_path %></span>
            <span><%= link_to 'Caixa', recipes_path %></span>
          </div>
          <% if signed_in? %>
            <p class="btn-exit" >
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </header>
    <div style="padding-top: 4em;">
      <div class="col-lg-12 col-md-12 com-sm-12">
        <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
