<!DOCTYPE html>
<html>
  <head>
    <title>NewSmile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="row top-bar">
        <div class="col-lg-2 col-md-2 col-sm-2 logo">
          <%= link_to (image_tag 'logo.jpg', :width=>'100px'), root_path %>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 navbar">
          <% if signed_in? %>
          <p style="margin-top: 5px; margin-left: 85%;"><%= link_to :Sair, destroy_user_session_path, method: :delete, class: 'btn btn-default' %></p>
          <% end %>
        </div>
      </div>
    </header>
    <div style="padding-top: 4em;">
      <div class="col-lg-12 col-md-12 com-sm-12">
        <% if flash[:notice] %>
          <div class="alert alert-info">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
